/*We have a gallery, in the gallery is a bunch of gallery-items. In each gallery item, is a title. and a gallery box, in each gallery box is half text, and half images.*/

.gallery { 
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 960px;
    gap: 5.5vw;
    margin: 0 auto;
    overflow: clip; /*this is scuffed*/
}

.gallery-textbox
{
    position: absolute;
    top: 85%;
    height: 80%;
    width: 100%;
    font-size:  clamp(4px, 2vw, 16px);
    text-align: center;
    list-style-type: disc;
}

.gallery-icons{
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    left: 50%;
    bottom: 0;
    width: 50%;
    height: 20%; 
    gap: 40px;
}

.gallery-icons img{
    max-width: 32px;
}



.gallery-item {
    position: relative;
    aspect-ratio: 16 / 9;
    flex-shrink: 1;
}



.gallery-text {
    max-height: 64px;
    cursor: pointer;
    font-size: clamp(16px, 2vw, 32px);
}

.gallery-text text-a {
    color: white;
}

.gallery-text text-link {
    color: gold;
}

.gallery-item:hover text-link {
    text-decoration: underline;
}

.gallery-item img,
.gallery-item video {
    position: absolute;
    left: 15%;
    top: 10.5%;
    width: 70%;
    height: 70%;
    object-fit: fill;
    transition: transform 0.2s ease, opacity 0.2s ease;
    border-radius: 15px;
}




.gallery-item video {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.gallery-item:hover img,
.gallery-item:hover video {
    transform: scale(1.1);
}

.gallery-item:hover video {
    opacity: 1;
}

.gallery-item:hover {
    overflow: visible;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Hide text if screen is too small (or font-size drops too low) 
@media (max-width: 650px) {
    .gallery-item img,
    .gallery-item video {
        margin: 0 auto;
        right: 0;
        left: 0;
        width: 90%;
    }
}
*/
