.custom-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: gray;
    color: gold;
    border-radius: 12px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon-button {
    min-width: 0;
    max-width: 64px;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.text-button {
    display: flex ;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    color: gold;
    border-radius: 12px;
    font-size: clamp(12px, 1.2vw, 24px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.button-text {
    display: inline;
}

/* Hide text if screen is too small (or font-size drops too low) */
@media (max-width: 600px) {
    .button-text {
        display: none;
    }
    .text-button {
        gap: 5%;
        padding: 2%;
    }
}


.custom-button:hover {
    filter: brightness(85%);
    transform: scale(1.25);
}

.custom-button:hover a{
    text-decoration: underline;
}

.text-button:hover {
    filter: brightness(85%);
    text-decoration: underline;
    transform: scale(1.25);
}

.icon-button:hover {
    filter: brightness(85%);
    transform: scale(1.25);
}

.icon-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    transition: transform 0.3s ease;
}



.text-button-icon {
    width: clamp(16px, 4vw, 32px);
    max-width: 100%;
    height: auto;
    flex-shrink: 1;
}



.icon-button-container:hover {
    transform: scale(1.1);
}

.button-icon {
    flex-shrink: 1;
    width: 100%;
    height: auto;
}

.core-content-field {
    display: none;
}

.core-content-field.show {
    display: block;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
